body {
    background-image: url(https://wallpapercave.com/wp/wp7356774.png);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    color: cornflowerblue;
}

.quiz-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 700px;
    margin: auto;
    padding: 20px;
    background-color: aquamarine;
    opacity: 0.6;
    border-radius: 30px;
    
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    
}

.choices button {
    width: 250px;
    height: 40px;
    text-align: start;
    background-color:cornflowerblue;
    border: none;
    border-radius: 20px;
    margin: 10px;
    font-family: inherit;
    color: aquamarine;
}

.choices button:hover {
    opacity: 0.5;
}

.start-next-btn{
    width: 100px;
    height: 40px;
    text-align:center;
    background-color:cornflowerblue;
    border: none;
    border-radius: 20px;
    margin: 10px;
    font-family: inherit;
    color: aquamarine;
}

.start-next-btn:hover {
    opacity: 0.5;
    
}

